mytable.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="musictable">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="music" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Artistname"/>
              <xs:element type="xs:string" name="Albumname"/>
              <xs:element type="xs:short" name="YearOfRelease"/>
              <xs:element type="xs:string" name="RecordLabelName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>